$DefaultNetstreamDriver gtls
$DefaultNetstreamDriverCAFile /etc/pki/tls/certs/homeroot.crt
$DefaultNetstreamDriverCertFile /etc/pki/tls/certs/rsyslog.crt
$DefaultNetstreamDriverKeyFile /etc/pki/tls/private/rsyslog.key

$ModLoad imtcp

$InputTCPServerStreamDriverMode 1
$InputTCPServerStreamDriverAuthMode anon
$InputTCPServerRun {{ syslog_tcp_port }}
