[General]
FullMachineName= {{ ansible_fqdn }}
SuiteSpotUserID= dirsrv
SuiteSpotGroup= dirsrv
AdminDomain= lab.home
ConfigDirectoryAdminID= admin
ConfigDirectoryAdminPwd= Password1

[slapd]
SlapdConfigForMC= Yes
UseExistingMC= No
ServerPort= 389
ServerIdentifier= {{ inventory_hostname }}
Suffix= {{ ldap_base }}
RootDN= cn=Directory Manager
RootDNPwd= Password1
InstallLdifFile= /tmp/base.ldif
